<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  <% 
    let formAction = '/customers/add'; 
    let formLabel = 'Create A New Customer'; 
    if (typeof _id !='undefined' ){
      formAction = `/customers/${_id}/edit`; 
      formLabel = 'Edit Customer'; 
    } 
  %>
  <!-- pass the title to the template -->
  <%- include("head", {title: formLabel}) %>

  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <!-- prettier-ignore -->
      <%- include("navbar") %> 
      <%- include("sidebar") %>

      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark"><%= formLabel %></h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item">
                    <a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item active"><%= formLabel %></li>
                </ol>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title"><%= formLabel %></h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form
              action="<%= typeof _id != 'undefined' ? `/customers/${_id}/edit` : '/customers/add' %>"
              method="post"
            >
              <div class="card-body">
                <!-- name -->
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    value="<%= typeof name != 'undefined' ? name : '' %>"
                    required
                  />
                </div>

                <!-- gender -->
                <!-- prettier-ignore -->
                <% 
                let femaleChecked = true, maleChecked = false; 
                if (typeof gender != 'undefined' ) { 
                  if (gender === 2){ 
                    maleChecked = true;
                    femaleChecked = false; 
                  } 
                } %>
                <div class="form-group">
                  <div class="icheck-primary">
                    <input type="radio" class="form-check-input" name="gender"
                    value="1" id="female" <%=femaleChecked ? "checked" : "" %>
                    />
                    <label for="female" class="form-check-label">Female</label>
                  </div>
                  <div class="icheck-primary">
                    <input type="radio" class="form-check-input" name="gender"
                    value="2" id="male" <%=maleChecked ? "checked" : "" %>/>
                    <label for="male" class="form-check-label">Male</label>
                  </div>
                </div>

                <!-- DOB -->
                <div class="form-group">
                  <label for="dob">Date of Birth (yyyy-mm-dd)</label>
                  <div
                    class="input-group date"
                    id="dobpicker"
                    data-target-input="nearest"
                  >
                    <div
                      class="input-group-prepend"
                      data-target="#dobpicker"
                      data-toggle="datetimepicker"
                    >
                      <div class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </div>
                    </div>
                    <input
                      type="text"
                      class="form-control datetimepicker-input"
                      id="dob"
                      name="dob"
                      value="<%= typeof dob != 'undefined' ? dob.toISOString().split('T')[0] : '' %>"
                      required
                      data-target="#dobpicker"
                      data-toggle="datetimepicker"
                    />
                  </div>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <a href="/customers/list" class="btn btn-default">Cancel</a>
                <input
                  class="btn btn-primary float-right"
                  type="submit"
                  value="Submit"
                />
              </div>
            </form>
          </div>
          <!-- /.card -->
        </section>
        <!-- /.content -->
      </div>
      <%- include("footer") %>
    </div>

    <%- include("script") %>
    <script>
      //Date picker
      $("#dobpicker").datetimepicker({
        format: "YYYY-MM-DD",
      });
    </script>
  </body>
</html>
